<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{fragments :: bootstrap}" />
    <title>Error page</title>
</head>

<body>
    <link th:replace="~{fragments :: navbar}" />
    <div class="d-flex justify-content-center flex-column text-center">
        <h1>An error occurred</h1>
        <h3 th:text="${error}"></h3>
        <a th:href="@{/}" class="text-black fw-bold">Back to homepage</a>
    </div>
</body>

<script th:replace="~{fragments :: scripts}"></script>

</html>