<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{ fragments :: bootstrap}">
    <title>Genre Create-Edit</title>
</head>

<body>
    <link th:replace="~{fragments :: navbar}" />
    <div class="container mt-3 p-2">


        <h1 class="text-center"><span th:if="${edit}">Update [[${genre.name}]]</span><span th:unless="${edit}">Insert a
                new
                genre</span></h1>


        <form id="new-genre-form" th:action="${edit} ? @{/genres/edit/{id}(id = ${genre.id})} : @{/genres/create}"
            method="post" th:object="${genre}">
            <div class="mb-3">
                <label class="form-label" for="name">Name : </label>
                <input class="form-control" type="text" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description : </label>
                <textarea class="form-control" id="description" th:field="*{description}"
                    th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="targetAudience">Target Audience:</label>
                <select class="form-select" id="targetAudience" th:field="*{targetAudience}" th:errorClass="is-invalid">
                    <option value="" selected disabled>Choose a target audience</option>
                    <option th:each="audience : ${gameTargetAudiences}" th:value="${audience}" th:text="${audience}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('targetAudience')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('targetAudience')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3 d-flex justify-content-between">
                <input type="submit" class="btn btn-dark" value="Submit Genre">
                <input type="reset" class="btn btn-danger" value="Reset fields">
            </div>
        </form>
    </div>
</body>
<link th:replace="~{ fragments :: scripts}">

</html>